################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRS/.vs/PRS/FileContentIndex/2e06ff18-a171-4c40-8c7c-64618033d5b5.vsidx
