################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRS/.vs/PRS/FileContentIndex/2e06ff18-a171-4c40-8c7c-64618033d5b5.vsidx
/PRS/.vs/PRS/FileContentIndex/a919bc14-c1fe-4b70-8dbd-a5fd8115da6e.vsidx
/PRS/.vs/PRS/FileContentIndex/74cacaf8-73a6-4c4c-b619-eac41a66c4bd.vsidx
/PRS/.vs/PRS/FileContentIndex/4cfca8bb-c4d0-45d6-baf8-fe6d72e5d571.vsidx
/PRS/.vs/PRS/FileContentIndex/14da5cfe-0d6f-486f-bb05-a0d0432a717e.vsidx
